:root {
    --first-color: #4070F4;
    --second-color: #0E2431;
}

.cards__list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.cards__list::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.cards__list::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: 10px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #ffffff;
    box-shadow: -1rem 0rem 2rem rgba(146, 161, 176, .5);
    transition: 0.75s;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}